/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: dark;
  color: #ffffff;
   background: linear-gradient(135deg, #0b1726, #1d3557, #e63946);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */
html, body {
  margin: 0;
  padding: 0; /* Also reset padding for a clean start */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Optional: includes padding and border in element's total width/height */
}
a {
  font-weight: 500;
  color: #e91e63;
  text-decoration: none;
}

a:hover {
  color: #ff4b8b;
}


body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #0b1726, #1d3557, #e63946);
 
  display: block;        /* remove old flex centering */
}


#root {
  min-height: 100vh;
}
